<footer id="footer">
	<section class="copyright">Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>. All rights reserved.</section>
	<section class="themeby">GhosToro theme by <a href="http://www.andrea-turri.com">Andrea Turri</a></section>
	<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
	{{> social}}
</footer>