<section id="social">
    <a target="_blank" href="#"><span class="ion-social-skype"></span></a>
    <a target="_blank" href="#"><span class="ion-social-github"></span></a>
    <a target="_blank" href="#"><span class="ion-social-linkedin"></span></a>
    <a target="_blank" href="#"><span class="ion-social-twitter"></span></a>
    <a target="_blank" href="#"><span class="ion-social-facebook"></span></a>
</section>