<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span class="ion-arrow-left-c"></span> newer</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">older <span class="ion-arrow-right-c"></span></a>
    {{/if}}
</nav>